{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Club Sportif
{% endblock %}

{% block body %}
	<div class="col-lg-4 col-md-4 order-1">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="card-title d-flex align-items-start justify-content-between">
							<div class="avatar flex-shrink-0">
								<img src="../../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
							</div>
							<div class="dropdown">
								<button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
									<a class="dropdown-item" href="javascript:void(0);">liste</a>
									<a class="dropdown-item" href="javascript:void(0);">Nouveau licencié</a>
								</div>
							</div>
						</div>

						<h4 class="card-title text-nowrap mb-1">Licencié</h4>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="card-title d-flex align-items-start justify-content-between">
							<div class="avatar flex-shrink-0">
								<img src="../../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
							</div>
							<div class="dropdown">
								<button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
									<a class="dropdown-item" href="javascript:void(0);">liste</a>
									<a class="dropdown-item" href="javascript:void(0);">Nouveau éducateur</a>
								</div>
							</div>
						</div>

						<h4 class="card-title text-nowrap mb-1">Educateur</h4>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="card-title d-flex align-items-start justify-content-between">
							<div class="avatar flex-shrink-0">
								<img src="../../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
							</div>
							<div class="dropdown">
								<button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
									<a class="dropdown-item" href="javascript:void(0);">liste</a>
									<a class="dropdown-item" href="javascript:void(0);">Nouvelle catégorie</a>
								</div>
							</div>
						</div>

						<h4 class="card-title text-nowrap mb-1">Catégorie</h4>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="card-title d-flex align-items-start justify-content-between">
							<div class="avatar flex-shrink-0">
								<img src="../../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
							</div>
							<div class="dropdown">
								<button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
									<a class="dropdown-item" href="javascript:void(0);">liste</a>
									<a class="dropdown-item" href="javascript:void(0);">Nouveau Contact</a>
								</div>
							</div>
						</div>

						<h4 class="card-title text-nowrap mb-1">Contact</h4>

					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="card-title d-flex align-items-start justify-content-between">
							<div class="avatar flex-shrink-0">
								<img src="../../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
							</div>
							<div class="dropdown">
								<button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
									<a class="dropdown-item" href="javascript:void(0);">liste</a>
									<a class="dropdown-item" href="javascript:void(0);">Nouvelle catégorie</a>
								</div>
							</div>
						</div>

						<h4 class="card-title text-nowrap mb-1">
							Mails<br>Educateurs
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-6 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="card-title d-flex align-items-start justify-content-between">
							<div class="avatar flex-shrink-0">
								<img src="../../assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
							</div>
							<div class="dropdown">
								<button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
									<a class="dropdown-item" href="javascript:void(0);">liste</a>
									<a class="dropdown-item" href="javascript:void(0);">Nouvelle catégorie</a>
								</div>
							</div>
						</div>

						<h4 class="card-title text-nowrap mb-1">
							Mails<br>Contacts
						</h4>

					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
