{% extends 'base.html.twig' %}

{% block title %}Edit Educateur{% endblock %}

{% block body %}
    <h1>Edit Educateur</h1>

    {{ include('educateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_educateur_index') }}">back to list</a>

    {{ include('educateur/_delete_form.html.twig') }}
{% endblock %}
