{% extends 'base.html.twig' %}

{% block title %}New Educateur{% endblock %}

{% block body %}
    <h1>Create new Educateur</h1>

    {{ include('educateur/_form.html.twig') }}

    <a href="{{ path('app_educateur_index') }}">back to list</a>
{% endblock %}
